.accordion {
  padding: 30px;
}
.accordion .heading {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.accordion__list {
  padding-left: 15%;
  padding-right: 15%;
}

.accordion__list-item {
  background-color: var(--white-cl);
  border: 1px solid var(--grey-cl);
}

.accordion__list-item .question {
  font-size: 17px;
  font-weight: bold;
  padding: 24px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: var(--duration);
}

.accordion__list-item .question:hover {
  background-color: var(--blue-cl);
}

.accordion__list-item .question:hover .icon span {
  background-color: var(--white-cl);
}

.accordion__list-item .question:hover .icon span::after {
  background-color: var(--white-cl);
}

.accordion__list-item .question .icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.accordion__list-item .question .icon span {
  width: 20px;
  height: 2px;
  position: relative;
  background-color: var(--blue-cl);
  transition: var(--duration);
}

.accordion__list-item .question .icon span::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  background-color: var(--blue-cl);
  transform: rotate(90deg);
  transition: var(--duration);
}

.accordion__list-item .question.--active .icon span {
  background-color: var(--white-cl);
}

.accordion__list-item .question.--active .icon span:hover {
  background-color: var(--white-cl);
}

.accordion__list-item.--active .question {
  background-color: var(--blue-cl);
}

.accordion__list-item.--active .question .icon span {
  background-color: var(--white-cl);
}

.accordion__list-item.--active .question .icon span:after {
  transform: rotate(0deg);
  background-color: var(--white-cl);
}

.accordion__list-item .answer {
  padding: 0px 24px;
  max-height: 0;
  overflow: hidden;
  transition: var(--duration);
}

.accordion__list-item .answer__title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 14px;
  margin-top: 20px;
}

.accordion__list-item .answer__content {
  margin-bottom: 20px;
}

.accordion__list-item .answer__content li:not(:last-child) {
  padding-bottom: 7px;
}

.accordion__list-item .answer__content li::before {
  content: "-";
  padding-right: 5px;
}

@media screen and (max-width: 767.98px) {
  .accordion__list {
    padding-left: initial;
    padding-right: initial;
  }

  .accordion__list-item .question {
    padding: 24px 20px;
  }
}
